body{
        background-color:rgb(246, 255, 255);
        margin:0px
}

body > main{
        font-family: "GFS Neohellenic";
        text-align:center;
        font-size:  14pt;
        margin:10px;
}


body > header{
        background-color:#0A4D44;
        margin:-30px;
}

#Title{
        font-family: "Fredericka the Great";
        color:azure;
        text-align: center;
        font-size: 38pt;
}

.Header1{
        font-family: "Spinnaker";
        color:antiquewhite;
        text-align:center;
}

#intro{
        font-family: "GFS Neohellenic";
        text-align:center;
}

.box{
        width: 100%;
    }
    
    #search {
        margin: 0 auto;
        display: inline-block;
    }

#Paris{
        background-color: #318CE7;
        margin:-10px;
}

#NewYork{
        background-color: gold;
        margin:-10px;
}

#Dubai{
        background-color: turquoise;
        margin:-10px;
}

#Prague{
        background-color: silver;
        margin:-10px;
}